.prompt-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
}

.chat-box {
    width: 100%;
    height: 85%;
    background-color: #FFFFFF;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 2px solid #3747f3;
}

.user-message, .bot-message {
    max-width: 60%;
    min-width: 5%;
    width: fit-content;
    margin: 10px 5px;
    border-radius: 15px;
    padding: 10px;
}

.user-message {
    background-color: hsl(0, 0%, 90%);
    align-self: flex-end;
}

.bot-message {
    background-color: #5865F2;
    color: #ffffff;
}

.chat-box::-webkit-scrollbar,
.input-field::-webkit-scrollbar {
    width: 6px;
}
  
  
.chat-box::-webkit-scrollbar-thumb,
.input-field::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}
  
.chat-box::-webkit-scrollbar-thumb:hover,
.input-field::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.user-input {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #222;
}
  
.input-field {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #333;
    color: white;
    outline: none;
    resize: none;
    overflow-y: auto;
    white-space: normal;
    text-overflow: ellipsis;
}

.user-input button {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #3747f3;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
