.clear-history {
    position: absolute;
    width: 450px;
    max-width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f9f7f3;
    box-shadow: -1px 8px 5px rgba(0, 0, 0, 0.5);
    color: #333;
    z-index: 10;
    padding: 20px;
    text-align: center;
}

.clear-history p {
    font-size: 20px;
    font-weight: bold;
}

.clear-option {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 35%;
}

.clear-option button {
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #3747f3;
}

.clear-option button:last-child {
    background-color: hsl(0, 100%, 35%);
    transition: background-color 0.3s;
}

.clear-option button:first-child:hover {
    background-color: #5865f2;
}

.clear-option button:last-child:hover {
    background-color: hsl(0, 100%, 55%);
}

@media (max-width: 450px) {
    .clear-history p {
        font-size: 17px;
    }
}

@media (max-width: 300px) {
    .clear-history {
        height: 40%;
        padding: 15px;
    }
    .clear-history p {
        font-size: 14px;
    }
    .clear-option {
        width: 95%;
        font-size: 13px;
    }
    .clear-option button {
        width: 45%;
    }
}