.homepage {
    display: flex;
    height: 87%;
    position: relative;
  }

.chatPage-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}