.navbar {
    width: 100%;
    height: 13%;
    background-color: #3747f3;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.title h1 {
    font-size: 25px;
}

.title img {
    align-self: center;
}